body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;
    background-image: url(../images/background.jpg);
    background-size: cover;
}

.login {
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
}

h2 {
    text-align: center;
    color: #6f70d3;
}

#registerLink {
    text-align: center;
    color: #6f70d3;
}

.formText {
    color: #ffffff;
}

form {
    border: 3px solid #2b2828;
    width: 30%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #ffffff;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    backdrop-filter: blur(3px);
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 300px) {
    form {
        width: 80%;
    }
    
}